<%= form_for 'quotes', url: quotes_new_path do | f | %>
<div class="row">
  <div class="col">
    <div class="form-group">
      <%= label f, :first_name, class: "control-label" %>
      <%= text_field f, :first_name, class: "form-control" %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= label f, :last_name, class: "control-label" %>
      <%= text_field f, :last_name, class: "form-control" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">
      <%= label f, :company_name, class: "control-label" %>
      <%= text_field f, :company_name, class: "form-control" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-12">
    <div class="form-group">
      <%= label f, :email_address, class: "control-label" %>
      <%= text_field f, :email_address, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="form-group">
      <%= label f, :phone_number, class: "control-label" %>
      <%= text_field f, :phone_number, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="form-group">
      <% label f, :preferred_contact_method, class: "control-label" %>
      <%= select_tag :preferred_contact_method, options_for_select(["Phone Number", "Email Address", "Both"]), class: "form-control" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-12">
    <div class="form-group">
      <%= label f, :nsn, class: "control-label" %>
      <%= text_field f, :nsn, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="form-group">
      <%= label f, :part_number, class: "control-label" %>
      <%= text_field f, :part_number, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
      <%= label f, :quantity, class: "control-label" %>
      <%= number_field f, :quantity, min: 1 %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <%= label f, :condition, class: "control-label" %>
      <%= select f, :condition, @conditions, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <%= label f, :priority, class: "control-label" %>
      <%= select f, :priority, @priorities, class: "form-control" %>
      <%= error_tag f, :priority %>
    </div>
  </div>
</div>
<div class="row">
  <%= submit f, class: "btn btn-primary" %>
</div>
<% end %>