<div class='container'>
  <h1>Product Page</h1>
  <div class='row'>
    <div class='col-md-2'></div>
    <div class='col'>
      <%= form_tag "#", method: :get, id: "product-search-form" do %>
      <div class="input-group md-form form-sm form-2 pl-0">
        <%= text_field_tag :product , params[:product], placeholder: "Press enter to search", autofocus: true,
          class: "form-control my-0 py-1 lime-border" %>

          <div class="input-group-append">
              <span class="input-group-text lime lighten-2" id="basic-text1">
                <i class="fa fa-search text-grey" aria-hidden="true"></i>
              </span>
            </div>
      </div>
      <% end %>
    </div>
    <div class='col-md-3'></div>
  </div>
</div>
<br/>
<div class='row'>
  <div class='col'>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">NSN</th>
          <th scope="col">Name</th>
          <th scope="col">Part Number</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |p|  %>
          <tr>
            <td><%= p.nsn %></td>
            <td><%= p.name %></td>
            <td><%= p.part_number %></td>
            <td>

            </td>
          </tr>
       <% end %>
      </tbody>
    </table>
    </div>

  </div>
  <div class='row'>
    <div class='col-md-4'>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">25</button>
        <button type="button" class="btn btn-secondary">50</button>
        <button type="button" class="btn btn-secondary">100</button>
      </div>
    </div>
    <div class='col-md-4'>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#">First</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Last</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class='col-md-4'>
      <select class="custom-select" style="display:inline;" id="exampleFormControlSelect1">
        <option selected="selected">Go To Page</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
